<p>order_token: <%= text_field_tag 'order_token', '', :class => 'field', :size => 50 %></p>
<p>detailed: <%= text_field_tag 'detailed', '0', :class => 'field' %></p>
<p><%= submit_tag 'Send order status' %></p>