<p>event_id: <%= text_field_tag 'reservation_event_id', '', :class => 'field' %></p>
<p>seat_id: <%= text_field_tag 'seat_id[]', '', :class => 'field' %></p>
<p><%= submit_tag 'Send reservation' %></p>