
<p>date: <%= text_field_tag 'shows_date', Time.now.strftime('%d.%m.%Y'), :class => 'field' %></p>
<p>site_id: <%= text_field_tag 'shows_site', '', :class => 'field' %></p>

<p><%= submit_tag 'Site shows' %></p>
