
<p>long: <%= text_field_tag 'sites_long', '', :class => 'field' %></p>
<p>latt: <%= text_field_tag 'sites_latt', '', :class => 'field' %></p>
<p>city_id: <%= text_field_tag 'sites_city', '', :class => 'field' %></p>
<p><%= submit_tag 'Sites' %></p>