
<h3 style="display: inline"><span> Mouse deal training </span></h3>
<h5 style="display: inline; margin-left: 40px;">(Warning: mouse is tricky!
Click to change backgroung color)</h4>
<button onclick="goFullscreen('mouse_area');" style="float: right; margin: 10px;">
  Fullscreen (ESC to exit)
</button>
<button onclick="history.go(-1);" style="margin-left: 20px">Exit</button>
<div id='mouse_area'>
<div id="cursor"></div>
</div>


