<h2>Widget page</h2>
<br />

<script type="text/javascript" src="/javascripts/mod_widget_dev.js"></script>


<a href="javascript: return false;" onclick="show2_show(1,[['exclusive_show','84748'],['exclusive_site','34'],['sites[]','10'],['sites[]','9']]);" title="Купить онлайн билеты">Купить билеты</a>

<div id="result"></div>


