<h2>Widget page</h2>
<br />

<script type="text/javascript" src="/javascripts/mod_widget_dev.js"></script>

<a href="javascript: return false;" onclick="show2_show(0,[['exclusive_show','81906']]);" title="Купить онлайн билеты">Купить билеты</a>
<a href="javascript: return false;" onclick="show2_show(0,[['exclusive_show', '84090'],['sites','1']]);" title="Купить онлайн билеты">Купить билеты</a>

<div id="result"></div>


