<h2>Widget page</h2>
<br />


<a href="javascript: return false;" onclick="show2_show(0,[['exclusive_show','79360'],['city','Львов']]);" title="Купить онлайн билеты">Купить билеты</a>

<div id="result"></div>
<!--
['city[]','Одесса']
--!

