

<h2>Widget page</h2>
<br />

<p>
  <a href="javascript: return false;" onclick="show2_show(0,[]);">Купить билеты 'show2_show(0,[])'</a>
</p>

<p>
  <a href="javascript: return false;" onclick="show2_show(133,[['exclusive_site','11255']]);">Купить билеты 'show2_show(133,[['exclusive_site','11255']])'</a>
</p>

<p>
  <a href="javascript: return false;" onclick="show2_show(20,[['exclusive_provider','10'],['show','Оз: Возвращение в Изумрудный Город 3D']]);">Купить билеты 'show2_show(20,[['exclusive_provider','10'],['show','Оз: Возвращение в Изумрудный Город 3D']])'</a>
</p>

<p>
  <a href="javascript: return false;" onclick="show2_show(77, [['exclusive_show','Рассвет планеты обезьян'],['event_origin','17.07.2014 14:15']]);">Купить билеты 'show2_show(77, [['exclusive_site','10818'],['exclusive_show','Рассвет планеты обезьян'],['event_origin','17.07.2014 14:15']])'</a>
</p>

<div id="result"></div>


