

<h2>Widget page</h2>
<br />

<p>
  <a href="javascript: return false;" onclick="show2_show(0,[]);">Купить билеты 'show2_show(0,[])'</a>
</p>

<p>
  <a href="javascript: return false;" onclick="show2_show(133,[['exclusive_site','11255']]);">Купить билеты 'show2_show(133,[['exclusive_site','11255']])'</a>
</p>

<p>
  <a href="javascript: return false;" onclick="show2_show(20,[['exclusive_provider','10'],['show','Оз: Возвращение в Изумрудный Город 3D']]);">Купить билеты 'show2_show(20,[['exclusive_provider','10'],['show','Оз: Возвращение в Изумрудный Город 3D']])'</a>
</p>

<p>
  <a href="javascript: return false;" onclick="show2_show(48,[['exclusive_show','10871'],['site','10107'],['event_origin','10.08.2014 23:15'],['height',685]]);">Купить билеты '48,[['exclusive_show','Секс видео: Только для взрослых'],['site','10107'],['event_origin','10.08.2014 23:15'],['height',685]]);'</a>
</p>

<a title="Купить билеты онлайн" onclick="show2_show(162,[['exclusive_show','114004']]);" href="javascript: return false;"><img src="ссылка на картинку кнопки" alt="купить билеты онлайн"></a>

<div id="result"></div>


