/* General */

$body_bgcolor: #E6E6E6;
$header_bgcolor: #6B8BC6;
$menu_bgcolor: #2A416D;
$main_bgcolor: #D9E1F0;
$aside_bgcolor: #989898;
$footer_bgcolor: #2A416D;
$min_height: 500px;
$page_width: 1100px;
$sidebar_width: 200px;

h1,h2,h3,h4,h5,p {
  margin: 0px;  
}

body {
  background: $body_bgcolor; 
  font-family: "Times New Roman", Times, serif;  
}

h1, h2, h3 {
  font-family: "Arial", Helvetica, sans-serif; 
}

h1 {font-size: 1.875em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.0em;}
p {font-size: 0.875em;}
a {text-decoration: none;}

#main h3{
  padding-top: 8px;
  padding-bottom: 3px;  
}

div#container {
  width: $page_width;  
  margin: auto; 
  background: $body_bgcolor;
  margin-top: 10px;
}

header {
  height: 158px;
  background: $header_bgcolor; 
  background: -webkit-linear-gradient(top, $header_bgcolor, $main_bgcolor);
  background: -moz-linear-gradient(top, $header_bgcolor, $main_bgcolor);
  background: -o-linear-gradient(top, $header_bgcolor, $main_bgcolor);
}

nav {
  width: $page_width - $sidebar_width - 30px; 
  height: 30px;
  background: $menu_bgcolor;
  background: -webkit-linear-gradient($menu_bgcolor,$header_bgcolor 30%,$menu_bgcolor);
  background: -moz-linear-gradient($menu_bgcolor,$header_bgcolor 30%,$menu_bgcolor);
  background: -o-linear-gradient($menu_bgcolor,$header_bgcolor 30%,$menu_bgcolor);
  border-radius: 5px 5px 0px 0px;
  margin-left: 10px;  
  float: left;
}

#wrapper {
  width: 100%; 
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}

section#main {
  background: $main_bgcolor;
  min-height: $min_height;
  width: $page_width - $sidebar_width - 50px; 
  float: left;
  margin-left: 10px;
  border-radius: 0px 0px 5px 5px;
  padding: 10px; 
  padding-bottom: 32767px;
  margin-bottom: -32767px;  
}
  
aside {
  background: $aside_bgcolor;
  background: -webkit-linear-gradient($aside_bgcolor,#cccccc 500px,$menu_bgcolor);
  background: -moz-linear-gradient($aside_bgcolor,#cccccc 500px,$menu_bgcolor);
  background: -o-linear-gradient($aside_bgcolor,#cccccc 500px,$menu_bgcolor);
  width: $sidebar_width;
  float: left;
  min-height: $min_height + 30px;
  padding: 10px;
  padding-bottom: 32767px;
  margin-bottom: -32767px;
}

footer {
  background: $footer_bgcolor;
  background: -webkit-linear-gradient($menu_bgcolor,$header_bgcolor 30%,$menu_bgcolor);
  background: -moz-linear-gradient($menu_bgcolor,$header_bgcolor 30%,$menu_bgcolor);
  background: -o-linear-gradient($menu_bgcolor,$header_bgcolor 30%,$menu_bgcolor);
  min-height: 31px;
}

header, aside, footer {
  border-radius: 5px;
}

/* footer */

footer p.css_validation { 
  float: right;   
}

footer p.copyright, footer p.copyright a {
  color: #D9E1F0;
  text-align: center;
  line-height: 30px; 
}

/* header */

header div#logo_img {
  width: 120px;
  height: 140px;
  background-image: url('main_photo.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #cccccc; 
  float: right;
  border: 4px solid $main_bgcolor; 
  border-radius: 5px; 
  margin: 5px;  
}

header div#logo_img a {
  display: block;
  height: 140px;
  width: 120px;  
}

header #vk_logo {
  width: 160px;
  height: 100px;
  background: transparent;
  background-image: url('vk_logo.gif');
  background-size: 160px 100px;
  background-repeat:no-repeat;
  float: left;
  margin-left: 10px;
  margin-top: 20px;
}

header #logo_wrapper {
  float: left;
  width: 500px;
  position: relative;
  left: 10%;
  
}

header #logo a h1 {  
  float: left;  
  font-size: 3em;  
  color: $main-bgcolor;
  text-shadow: 3px 3px 0px $menu_bgcolor;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 10px; 
}

header #logo_wrapper h3 { 
  display: block; 
  width: 400px;
  margin-left: 45px; 
  color: $menu_bgcolor;   
}

/* main navigation */

#navigation li a {
  color: $main_bgcolor;
  display: block;
  float: left;
  width: 100px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  margin-left: 3px;  
}

#navigation li a:hover {
  font-weight: bold;  
}

#navigation li a.selected, #navigation li a:active {
  background: $main_bgcolor;
  background: -webkit-linear-gradient($menu_bgcolor,$main_bgcolor 20%, $main_bgcolor);
  background: -moz-linear-gradient($menu_bgcolor,$main_bgcolor 20%, $main_bgcolor);
  background: -o-linear-gradient($menu_bgcolor,$main_bgcolor 20%, $main_bgcolor);
  color: $menu_bgcolor;  
  font-weight: bold;
}

#navigation li a:active { 
  border-top: 2px solid $menu_bgcolor; 
}

/* side navigation */

div#sidebarmenu {
    padding: 10px;
    text-shadow: 1px 1px 0px #ddd;   
}

ul#nav, #nav ul.nav {
    width: 150px;
    background: #ccc;
    border: 1px solid white;
}

#nav ul.nav {
   display: none;     
} 

#nav li {
    height: 30px;
    text-indent: 10px;
    line-height: 30px;  
}

#nav li:hover > .nav {
    display: block;
    position: absolute;   
    left: 145px;
    top: 8px;    
}

#nav a {
    text-decoration: none;
    color: #333;
    width: inherit;
    height: inherit;    
}

#nav li.with_submenu {
  background: url('submenu.png');
  background-size: 4px 8px;
  background-position: 90% center;
  background-repeat: no-repeat;   
}

#nav li:hover {           /* place for this item must be AFTER previous*/
    position: relative;
    background: #ddd;
}


/* menu selector*/ 

div#menu_selector {
  padding: 10px;
}

#menu_selector li {
  padding-left: 16px;
}

#menu_selector li.sub {
  cursor: pointer;
}

#menu_selector a, #menu_selector a:hover {
  text-decoration: none;
  color: blue;
} 

#menu_selector a:hover {
  text-decoration: underline;
}

#menu_selector a:active {
  color: #fff;
  background: #555;
}

#menu_selector li.plus {
  background-image: url('toggle-small-expand.png');
  background-repeat: no-repeat;
  background-position: left top;
}

#menu_selector li.minus {
  background-image: url('toggle_small_collapse.png');
  background-repeat: no-repeat;
  background-position: left top;
}

/* Tables */

table {
  width: 100%;
  font-size: 14px;
}

table th, table td {
  border: 1px solid blue;
  text-align: center;
  padding: 3px;
}

table th {
  background-color: #ADD8E6;
  padding: 5px;
  font-weight: bold;
}
