#mouse_area {
  width: 100%;
  height: 500px;
  background: #FFC43B;
  overflow: hidden;
  cursor: none;
}

#cursor {
  width: 300px;
  height: 413px;  
  background-image: url(baby_big.gif);
  background-repeat: no-repeat;
  position: relative;
  top: 0px;
  left: 0px;
}

#mouse_area:-webkit-full-screen {
    width: 100%;
    height: 100%;
  }

#mouse_area:-moz-full-screen {
    width: 100%;
    height: 100%;
  }
