<p class="css_validation">
    <a href="http://jigsaw.w3.org/css-validator">
        <img style="border:0;width:88px;height:31px"
            src="http://jigsaw.w3.org/css-validator/images/vcss"
            alt="Valid CSS!" 
            title="Validate CSS"/>
    </a>
</p>
<p class="copyright"> Copyright &copy; , 2012-<%= Time.now.year%> All rights reserved | 
  Designed by <a href="#">Victor Kedyulich</a></p>
