<title> <%= title %> </title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<link rel="icon" type="image/png" href="/kedlogo.png">
<script type="text/javascript" src="http://wg.dev.2show.mobi/javascripts/mod_widget.js"></script>
