<div id="vk_logo"></div>

<div id="logo_wrapper">
  <div id="logo"><a href="/" title="Home"><h1>Victor Kedyulich</h1></a></div>
  <div id="logo_text"><h3>Personal site for learning web technologies</h3></div>
</div>

<div id="logo_img"><a href='#' title="About"></a></div>


