
<ul id='navigation'>
  <li><a href="/">News</a></li>
  <li><a href="/auth/index">Ident</a></li>
  <li><a href="#">Photos</a></li>
  <li><a href="/pages/http_request">HTTP Request</a></li>
  <li><a href="/privat_gateway/index">Privat</a></li>
  <li><a href="/pages/widget">Widget</a></li>
  <li><a href="/pages/resque">Resque</a></li>
  <li><%= link_to "Mouse", pages_mouse_path %></li> 
</ul>
